// TODO: import common
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #595a5c;
}

html, body {
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.875rem;
}


.font-light {
  font-weight: bold;
}

a,
.link {
  color: var(--link-color);
}

.delimiter {
  border-right: 1px solid var(--border-color);
}

.suggestion-text {
  font-size: 1.5rem;
}

.suggestion--header,
.summary,
.vulnerability-overview > h2 {
  font-size: 0.85rem !important;
}

.identifiers {
  padding-bottom: 20px;
}

.vulnerability-overview pre {
  font-size: 1.05rem;
  font-family: var(--editor-font);
  background-color: var(--editor-color);
  border: 1px solid var(--border-color);
}

.vulnerability-overview code {
  background-color: var(--editor-color);
  font-size: 1.05rem;
  font-family: var(--editor-font);
}
